@font-face {
    font-family: neue;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neue;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neue;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "neue";
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 142vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
    z-index: 11;
}

#nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: #fff;
}
#page1-content{
    padding: 6vw 5vw;
    justify-content: space-between;
    display: flex;
    position: relative;
}

#page1 #left{
    height: 30vw;
    width: 40%;
    position: relative;
}

#left img{
    border-radius: 50%;
    height: 32vw;
    width: 32vw;
}

#right{
    width: 50%;
    height: 50vw;
    position: relative;
    justify-content: space-between;
    right: 0;
}
#right #h1t{
    position: relative;
    z-index: -1;
}
#right #h1t h1{
    font-size: 14vh;
    text-align: right;
    line-height: 1;
}

#right #h5t{
    position: relative;
    z-index: 1;
}

#right #h5t h5{
    font-size: 1.75vw;
    text-align: right;
    padding-top: 2vw;
}

#right #threeline{
    position: relative;
    padding-top: 5vw;
    z-index: 1;
}

#right #threeline h5{
    font-size: 2vw;
    padding-bottom: 0.5vw;
}

#right #threeline h6{
    border-top: 1px solid #0000003c;
    width: 65%;
    padding-top: 0.5vw
}

#circle{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    background: linear-gradient(to top right, #fe2f0a, #fe880a);
    z-index: 0;
    position: relative;
    top: -21vw;
    left: 5vw;
    filter: blur(20px);
    animation-name: cir;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes cir {
    from{
        transform: translate(10%,-8%) skew(-8deg);
    }
    to{
        transform: translate(-8%,20%) skew(-5deg);
    }

}

#footer{
    height: 90vh;
    width: 100%;
    background-color: #000;
    position: relative;
    padding-top: 2vw;
}

#footer-top{
    height: 10vh;
    width: 100%;
    padding-top: 2vw;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#footer-top #left{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#left a{
    font-size: 2vw;
    font-weight: 300;
    color: #fff;
    text-decoration: none;

}
#a1 a{
    color: transparent;
    background: linear-gradient(to right, #FF9900, #FF9900);
    background-clip: text;
}

#a2 a{
    color: transparent;
    background: linear-gradient(to right, #FF8300, #FF8000);
    background-clip: text;
}

#a3 a{
    color: transparent;
    background: linear-gradient(to right, #FF6D00, #FF6600);
    background-clip: text;
}

#a4 a{
    color: transparent;
    background: linear-gradient(to right, #FF5500, #FF4F00);
    background-clip: text;
}

#footer h1{
    font-size: 20vw;
    padding: 0 7.5vw;
    padding-top: 3vw;
    color: transparent;
    background: linear-gradient(to right, orange, orangered);
    background-clip: text;
}
#bb{
    height: 1px;
    width: 84%;
    background: linear-gradient(to right, orange, orangered);
    position: relative;
    margin-left: 7.5vw;
    top: -4%;
}

#footer-bottom{
    min-height: 3vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 1.5vw;
}

#footer-bottom a{
    font-size: 1.5vw;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

#b1 a{
    color: transparent;
    background: linear-gradient(to right, #FF9700, #FF9300);
    background-clip: text;
}

#b2 a{
    color: transparent;
    background: linear-gradient(to right, #FF7600, #FF7300);
    background-clip: text;
}

#b3 a{
    color: transparent;
    background: linear-gradient(to right, #FF5800, #FF4F00);
    background-clip: text;
}
